:root {
  --bg: #efefef;
  --text: #0f044c;
  --success: #28df99;
  --danger: #ff4848;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
}

#app {
  margin: 16px;
}

h1,
h2,
h3 {
  margin-bottom: 8px;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

label {
  margin-bottom: 8px;
}

input {
  color: var(--text);
  width: 100%;
  margin-bottom: 8px;
}

button {
  cursor: pointer;
  transition: ease 0.75s color;
}
button:hover {
  background: var(--text);
  color: var(--bg);
}

button,
input {
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid var(--text);
}

#information {
  margin-top: 16px;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  #app {
    max-width: 1280px;
  }
}
